<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/styles.css" type="text/css">
</head>
<body>
    <h1>Cars</h1>
    <% if(cars.length===0) { %>
        <h3>No cars found!</h3>
    <% } else { %>
        <table>
            <thead>
                <tr>
                    <td>Model</td>
                    <td>Licence</td>
                    <td>Picture</td>
                </tr>
            </thead>
            <tbody>
                <% cars.forEach(car => { %>
                <tr>
                    <td> <%= car.model %> </td>
                    <td> <%= car.licence %> </td>
                    <td>
                        <img src="/images/<%= car.picture %>" alt="A picture of model <%=car.model %>">
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    <% } %>
    
    <a href="/">Home</a>
</body>
</html>